.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    transition-duration: 0.5s;
}

.min_height {
    min-height: 100%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}



@media screen and (min-width: 768px) and (max-width: 1023px) /* Tablet */  {
    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
        transition-duration: 0.5s;
    }
}

@media screen and (max-width: 767px) /* Smartphone */ {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        transition-duration: 0.5s;
    }
    
    .min_height {
        min-height: 100%;
    }
    
    .start {
        justify-content: flex-start;
    }
    
    .column {
        flex-direction: column;
        justify-content: flex-start;
    }
}



